@import 'shared.scss';

@media (prefers-color-scheme: dark) {
  :root {
    --card-background-color: #202324;
    --background-color: #181a1b;
    --border-color: #35393b;
    --color: #d3d3d0;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --card-background-color: #fff;
    --background-color: #f6f6f6;
    --border-color: #eee;
    --color: #161616;
  }
}

* {
  color: var(--color);
}

body {
  min-width: 170px;
  height: 100vh;
  padding-top: 0;
  background-color: var(--background-color);
}

.profile-preview__profile-container {
  height: 100%;
  overflow: auto;
}

.top-card-description {
  margin-top: 10px;
}

.top-card-link__logo {
  border: 0;
  width: 26px;
}

.top-card-link {
  display: inline-block;
  &:first-child {
    margin-left: -2px;
  }
}

.top-card-layout {
  background-color: var(--card-background-color);
}

.top-card-layout__title-right {
  margin-bottom: 10px;
}

.top-card-layout__entity-image {
  box-shadow: none;
  border-color: var(--card-background-color);
}

.top-card-links {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.top-card-layout__entity-info-container {
  gap: 10px;
}

@media screen and (min-width: $mobile-width) {
  body {
    padding-top: 50px;
  }
  .profile-preview__profile-container {
    overflow: auto;
    width: 720px;
    margin: 0 auto;
  }
  .top-card-layout {
    box-shadow: none;
    border: 1px solid var(--border-color);
  }
  .top-card-links {
    margin: -60px 0 0 16px;
  }
}

@media screen and (max-width: $mobile-width) {
  .top-card-layout {
    box-shadow: none;
  }
  .top-card-links {
    margin: -14px 0 0 14px;
  }
  .cover-img__image-frame {
    padding-bottom: 80px;
  }
}

@media (max-width: 210px) {
  .top-card-layout__entity-info-container {
    flex-direction: column;
  }
  .top-card-layout__entity-info {
    flex: 1;
    width: 100%;
  }
}
