@import 'shared.scss';

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html,
body,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
abbr,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
var,
b,
i,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
canvas,
summary,
time,
mark,
audio,
video {
  outline: 0;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  border: 0;
  display: block;
  height: 1px;
  margin: 1rem 0 24px 0;
  padding: 0;
  border-color: rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

@media (max-width: 976px) {
  hr {
    margin-bottom: 16px;
  }
}

input,
select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu,
    Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  font-weight: 600;
  background-color: transparent;
  border: 0;
  color: #0073b1;
}

a:visited {
  color: #0073b1;
}

a:hover,
a:focus {
  text-decoration: underline;
  color: #006097;
}

a:active {
  color: #004b7c;
}

a:visited {
  color: #665ed0;
}

a:visited:hover {
  color: #544bc2;
}

a:visited:active {
  color: #4034b0;
}

strong,
b {
  font-weight: 600;
}

body,
p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
}

h1,
.large-header {
  font-weight: 400;
  font-size: 4rem;
  line-height: 1.2;
}

h2 {
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 1.25;
}

h3,
.large-text {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.33333;
}

h4,
.medium-text {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.4;
}

h5,
.small-text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
}

h6 {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.42857;
  color: rgba(0, 0, 0, 0.6);
}

.profile-preview {
  width: 100vw;
  height: 100%;
  max-height: 100%;
  position: fixed;
  bottom: 0;
  background: #fff;
  z-index: 1500;
  -webkit-transition: max-height 1s ease;
  transition: max-height 1s ease;
}

.profile-preview__profile-container {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  height: calc(100% - 85px);
}

.cover-img__image-frame {
  position: relative;
  width: 100%;
  padding-bottom: calc((134 / 782) * 100%);
  overflow: hidden;
}

.cover-img__image-position {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cover-img__image-position--with-gradient::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  pointer-events: none;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.55)));
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.55));
}

.cover-img__image {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.cover-img__caption {
  font-size: 1.4rem;
  line-height: 1.42857;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  padding-top: 16px;
}

.artdeco-entity-image {
  display: inline-block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.artdeco-entity-image--circle-7 {
  width: 104px;
  height: 104px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-clip: content-box;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 49.9%;
}

.top-card__profile-image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-card-layout {
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15), 0px 0px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15), 0px 0px 2px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  border-radius: 2px;
}

.top-card-layout__card {
  padding: 24px;
  position: relative;
}

.top-card-layout__entity-image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-card-layout__entity-image {
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15), 0px 0px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15), 0px 0px 2px rgba(0, 0, 0, 0.15);
  position: relative;
  border: 4px solid #fff;
  margin: -100px 0 18px;
}

.top-card-layout .cover-img {
  min-height: 100px;
  border-radius: 2px 2px 0 0;
}

.top-card-layout__headline {
  font-size: 1.6rem;
  line-height: 1.75;
  font-weight: 400;
}

.top-card-layout__first-subline {
  font-size: 1.6rem;
  line-height: 1.75;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

.top-card-layout__second-subline {
  font-size: 1.4rem;
  line-height: 1.42857;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 4px;
}

.top-card-layout__title {
  font-size: 2.4rem;
  line-height: 1.33333;
  font-weight: 600;
  margin-bottom: 0;
}

.top-card-layout__entity-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-card-layout__entity-info {
  -webkit-box-flex: 1;
  -ms-flex: 1 0;
  flex: 1 0;
}

.top-card-layout__entity-info--right-column {
  margin-left: 24px;
  max-width: 288px;
}

.top-card-layout__ellipsis-menu {
  margin: 4px 16px 0 0;
}

@media (max-width: $mobile-width) {
  .top-card-layout__card {
    padding: 16px;
  }

  .top-card-layout__entity-image {
    border: 2px solid #fff;
    margin: -87px 0 14px;
  }

  .top-card-layout .cover-img {
    min-height: 87px;
  }

  .top-card-layout__entity-info-container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .top-card-layout__title {
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 600;
  }
}

@media (max-width: $mobile-width) {
  .top-card-layout__card {
    padding: 16px;
  }

  .top-card-layout__entity-image {
    border: 2px solid #fff;
    margin: -87px 0 14px;
  }

  .top-card-layout .cover-img {
    min-height: 87px;
  }

  .top-card-layout__entity-info-container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .top-card-layout__title {
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 600;
  }
}

@media (max-width: $mobile-width) {
  .top-card-layout {
    border-radius: 0;
  }

  .top-card-layout .cover-img {
    border-radius: 0;
  }

  .top-card-layout__entity-info {
    flex: none;
    flex-grow: 1;
  }

  .top-card-layout__entity-info--right-column {
    margin: 12px 0;
  }
}
