$mobile-width: 768px;

@media (prefers-color-scheme: dark) {
  :root {
    --card-background-color: #202324;
    --background-color: #181a1b;
    --border-color: #35393b;
    --color: #d3d3d0;
    --link-color: #7a8c95;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --card-background-color: #fff;
    --background-color: #f6f6f6;
    --border-color: #eee;
    --color: #161616;
    --link-color: #7a8c95;
  }
}

* {
  background: transparent;
  border: 0;
  color: var(--color);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu,
    Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  background-color: var(--background-color);
  height: 100vh;
  min-width: 210px;
  padding-top: 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
  color: #006097;
}

a:active {
  color: #004b7c;
}

p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
}

.profile-preview {
  width: 100vw;
  height: 100%;
  max-height: 100%;
  position: fixed;
  bottom: 0;
  background: #fff;
  z-index: 1500;
  -webkit-transition: max-height 1s ease;
  transition: max-height 1s ease;
}

.profile-preview__profile-container {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  height: calc(100% - 85px);
}

.cover-img__image-frame {
  position: relative;
  width: 100%;
  padding-bottom: calc((134 / 782) * 100%);
  overflow: hidden;
}

.cover-img__image-position {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cover-img__image-position--with-gradient::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  pointer-events: none;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.55)));
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.55));
}

.cover-img__image {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.artdeco-entity-image {
  display: inline-block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.artdeco-entity-image--circle-7 {
  width: 104px;
  height: 104px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-clip: content-box;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 49.9%;
}

.top-card__profile-image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-card-layout {
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15), 0px 0px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15), 0px 0px 2px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  border-radius: 2px;
}

.top-card-layout__card {
  display: flex;
  flex-direction: column;
  padding: 24px;
  position: relative;
}

.top-card-layout__entity-image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-card-layout__entity-image {
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15), 0px 0px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15), 0px 0px 2px rgba(0, 0, 0, 0.15);
  position: relative;
  border: 4px solid #fff;
  margin: -100px 0 18px;
}

.top-card-layout .cover-img {
  min-height: 100px;
  border-radius: 2px 2px 0 0;
}

.top-card-layout__title {
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 600;
  margin-bottom: 0;
}

.top-card-layout__entity-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-card-layout__entity-info {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.top-card-layout__entity-info--right-column {
  margin-left: 24px;
  max-width: 288px;
}

.top-card-layout__ellipsis-menu {
  margin: 4px 16px 0 0;
}

.links-container {
  margin-top: 5px;
}

@media (max-width: $mobile-width) {
  .top-card-layout__card {
    padding: 16px;
  }

  .top-card-layout__entity-image {
    border: 2px solid #fff;
    margin: -87px 0 14px;
  }

  .top-card-layout .cover-img {
    min-height: 87px;
  }

  .top-card-layout__entity-info-container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.profile-preview__profile-container {
  height: 100%;
  overflow: auto;
}

.top-card-description {
  margin-top: 10px;
}

.top-card-link__logo {
  border: 0;
  width: 28px;
  height: 28px;
}

.top-card-link {
  display: inline-block;
  &:first-child {
    margin-left: -2px;
  }
}

.top-card-layout {
  background-color: var(--card-background-color);
}

.top-card-layout__title,
.top-card-layout__title-right {
  margin-bottom: 10px;
}

.top-card-layout__entity-image {
  box-shadow: none;
  border-color: var(--card-background-color);
}

.top-card-links {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.top-card-layout__entity-info-container {
  gap: 10px;
}

@media screen and (min-width: $mobile-width) {
  body {
    padding-top: 50px;
  }
  p {
    text-wrap: nowrap;
  }
  .profile-preview__profile-container {
    overflow: auto;
    width: 620px;
    margin: 0 auto;
  }
  .top-card-layout {
    box-shadow: none;
    border: 1px solid var(--border-color);
  }
  .top-card-links {
    margin: -60px 0 0 16px;
  }
}

@media screen and (max-width: $mobile-width) {
  .top-card-layout .cover-img {
    border-radius: 0;
  }
  .top-card-layout__entity-info {
    flex-grow: 1;
    min-width: 49%;
  }
  .top-card-layout__entity-info--right-column {
    margin: 12px 0;
  }
  .top-card-layout {
    border-radius: 0;
    box-shadow: none;
  }
  .top-card-links {
    margin: -14px 0 0 14px;
  }
  .cover-img__image-frame {
    padding-bottom: 80px;
  }
}

@media (max-width: 210px) {
  .top-card-layout__entity-info-container {
    flex-direction: column;
  }
  .top-card-layout__entity-info {
    flex: 1;
    width: 100%;
  }
}
